@{
    ViewData["Title"] = @Localizer["Title"];
}
@section css {
    <link href="~/css/Controllers/HairdreamsController.css" rel="stylesheet" />
}

<div class="content row standard-hyperlinks hairdreams-index">
    <div class="clearfix intro-text">
        <img class="col-lg-3 col-md-4 col-sm-6 col-xs-12" src="~/images/Hairdreams/Index/HairdreamsLogo.png" alt="Hairdreams Logo" title="Hairdreams Logo"/>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">@Localizer["IntroText"]</div>
    </div>

    <div class="call-to-action">
        <div class="call-to-action-text">@Localizer["HairdreamsCallToAction"]</div>
        <div class="booking-path">dames > extensions > consultatie</div>
        <a class="btn btn-danger navbar-btn btn-dcs" data-toggle="modal" data-target="#myAppointmentModal">@Localizer["HairdreamsBookingButton"]</a>
    </div>
</div>