@{
    ViewData["Title"] = @Localizer["Title"];
}
@section css {
    <link href="~/css/Controllers/HairdreamsController.css" rel="stylesheet" />
}

<div class="content row standard-hyperlinks hairdreams-index">
    <div class="clearfix intro-text">
        <img src="~/images/Hairdreams/Index/HairdreamsLogo.png" alt="Hairdreams Logo" title="Hairdreams Logo"/>
    </div>
</div>