

@{
    ViewData["Title"] = @Localizer["Title"];
}
@section css {
    <link href="~/css/Controllers/HomeController.css" rel="stylesheet" />
}

<div class="standard-hyperlinks home">
    <div class="parking row">
        @Localizer["Parking"]
    </div>
</div>
