

@{
    ViewData["Title"] = @Localizer["Title"];
}
@section css {
    <link href="~/css/Controllers/HomeController.css" rel="stylesheet" />
}

<div class="standard-hyperlinks home">
    <div class="parking row">
        <h1>@Localizer["Title"]</h1>
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <p>Ons salon is gelegen in het hartje van Oostende op de hoek van de Wittenonnenstraat en de Christinastraat</p>
            <h3>Davina's Coiffure Shop</h3>
            <p>
                Wittenonnenstraat 34<br />
                8400 Oostende
            </p>
            <h4>GPS-coördinaten:</h4>
            <ul>
                <li>
                    Breedtegraad: N 51° 13’47.066” (51.22974055)
                </li>
                <li>
                    Lengtegraad: O 2° 55’ 6.4222” (2.91845067)
                </li>
            </ul>
        </div>
        <p>
            Doordat het salon in een voetgangerszone ligt kunt u niet met de auto tot voor de deur rijden. De hoek van Wittenonnenstraat met de Lijnbaanstraat of de Wittenonnenstraat met de Aartshertoginnestraat zijn echter wel met de auto bereikbaar en maar een 10-tal meter verwijderd.
            Wenst u de auto in de buurt te parkeren dan zijn er talloze opties. Toerisme Oostende heeft hiervan een mooi overzicht gemaakt (zie onderstaande link). Wie zijn ecologische voetafdruk klein wil houden zal te voet of met de fiets weinig hinder ondervinden.
        </p>
        <p class="text-center"> <a class="btn btn-default navbar-btn" target="_blank" href="https://www.visitoostende.be/nl/praktisch/waar-kan-ik-parkeren-oostende">Klik hier</a> om het volledige overzicht aan parkingmogelijkheden in Oostende te bekijken.</p>
    </div>
</div>
