

@{
    ViewData["Title"] = @SharedLocalizer["PrivacyPolicyTitle"];
}
@section css {
    <link href="~/css/Controllers/HomeController.css" rel="stylesheet" />
}

<div class="standard-hyperlinks">
    @SharedLocalizer["PrivacyPolicy"]
</div>
